@import "../../constants.scss";

.admin-message {
  color: #025e73;
  margin-top: 60px;
  font-size: large;
  font-weight: bold;
}

.login-form {
  align-items: center;
  text-align: center;
  max-width: 90%;
  width: 360px;
  margin: auto;
  background-color: $primary-light;
  padding: 10px;
  border: 2px solid $primary-dark;
  border-radius: 15px;

  .login-form__field {
    min-height: 55px;
    max-width: 90%;
    margin: 0 auto;

    label {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    input {
      width: 60%;
      padding: 5px;
    }
  }

  .login-form__button {
    text-align: center;
    input {
      background-color: $primary-dark;
      color: $white;
      font-size: 20px;
      border: none;
      padding: 10px;
      border-radius: 5px;
      margin-top: 20px;
    }
  }

  .login-form__message {
    font-size: 12px;
    color: red;
  }
}
