@import "../../constants.scss";

.new-sighting-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.new-sighting-form > * {
  margin: 4px;
}

.lat-and-long-inputs {
  display: flex;
  flex-direction: column;
}

.location-input-choice {
  display: flex;
}

.map-box {
  height: 400px;
  width: 250px;
}

.map-pin {
  transform: translate(-15px, -20px);
  background-color: $primary-dark;
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
  img {
    width: 90%;
    height: 90%;
  }
}
