@import "../../constants.scss";

.new-sighting-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.new-sighting-form > * {
  margin: 4px;
}

.lat-and-long-inputs {
  display: flex;
  flex-direction: column;
}

.location-input-choice {
  display: flex;
}

.map-box {
  height: 400px;
  width: 250px;
}

.map-pin {
  transform: translate(-15px, -20px);
  background-color: $primary-dark;
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 90%;
    height: calc(90% * 315 / 631);
  }
}

.species-dropdown {
  width: 85%;
}

.whale-number-input {
  width: 163px;
}
