@import "../../constants";

.feed {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sighting-card {
  margin-bottom: 2rem;
  position: relative;
  max-width: 80%;
  background-color: $primary-dark;
  display: flex;
  flex-direction: column;
  align-content: center;

  .header {
    color: $text-color-light;
    animation: normal;
    background-color: $primary;
    font-size: xx-large;
    font-kerning: normal;
    font-weight: bold;
    padding: 1rem;
  }

  .image {
    width: 100%;
    height: auto;
    min-height: 60px;
  }

  .cardData {
    font-kerning: none;
    color: $text-color-light;
    padding: 0rem 2rem 0rem 2rem;
  }

  .fade-in {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
