@import "../../constants.scss";

.map-container {
  height: 100vh;
  width: 100vh;
  margin-top: 1rem;
}
.sighting-map {
  height: 100px;
  width: 100px;
}

.sightings-map-pin {
  transform: translate(-15px, -20px);
  background-color: $primary-dark;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  margin: 0;
  img {
    width: 90%;
    height: 90%;
  }
  p {
    margin: 0;
    font-size: x-small;
    color: orangered;
  }
}
