@import "../../constants.scss";

.whale-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media only screen and (min-width: 912px) {
  .whale-list {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
}
