@import "../../constants.scss";

nav.navbar {
  height: 2em;
  background-color: $secondary;
  color: $text-color-light;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  a {
    text-decoration: none;
  }

  a:visited {
    color: $text-color-light;
  }

  a:hover {
    text-decoration: underline;
  }

  img.navbar__logo {
    height: 2em;
  }

  .admin-links {
    margin-left: auto;
  }

  .admin-only-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    text-decoration: none;
  }

  h1 {
    font-size: medium;
  }
}
@media only screen and (max-width: 650px) {
  nav.navbar {
    justify-content: center;
  }

  .desktop-menu {
    display: none;
    .desktop-menu--expanded {
      display: block;
    }
  }

  .mobile-menu {
    display: block;
    position: fixed;
    left: 0;
  }
}

@media only screen and (min-width: 651px) {
  .mobile-menu {
    display: none;
  }
}
