@import "../../constants.scss";

nav.navbar {
  height: 2em;
  background-color: $secondary;
  color: $text-color-light;
  padding: 0.5em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 0;
  z-index: 2;
  min-width: 100%;

  button {
    background: transparent;
    border: transparent;
    color: $text-color-light;
    font: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  a {
    color: $text-color-light;
    text-decoration: none;

    &:visited {
      color: $text-color-light;
    }

    &:hover {
      color: $text-color-light;
      text-decoration: underline;
    }

    &:link {
      color: $text-color-light;
    }

    &:active {
      color: $primary-light;
    }
  }

  img.navbar__logo {
    height: 2em;
  }

  .menu-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;

    .admin-links {
      margin-left: auto;
    }

    .logged-in-links {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      text-decoration: none;
    }
  }

  @media only screen and (max-width: 650px) {
    .menu-items {
      display: none;
    }

    .mobile-menu {
      display: block;
      position: fixed;
      left: 0;
      z-index: 2;
    }
  }

  @media only screen and (min-width: 651px) {
    .mobile-menu {
      display: none;
    }

    .admin-links {
      padding-right: 0.5em;
    }

    img.navbar__logo {
      padding-left: 0.5em;
    }
  }

  .menu-items.expanded {
    height: 100%;
    width: 70%;
    background-color: $secondary;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .admin-links {
      margin-left: 0;
    }

    .logged-in-links {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 0;
    }
  }
}
