$prussian-blue: #012e40ff;
$blue-sapphire: #025e73ff;
$blue-green: #049dbfff;
$dark-turquoise: #3bc9d9ff;
$blizzard-blue: #bbedf2ff;
$white: white;
$black: black;

$text-color: $black;
$site-background: $white;
