@import "../../constants.scss";

.card {
  margin-bottom: 2rem;
  position: relative;
  width: 80%;
  max-width: 600px;
  background-color: $primary-light;
  color: $text-color;
  display: flex;
  flex-direction: column;
  align-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .card__title {
    background-color: $primary;
    color: $text-color-light;
    text-align: center;
    font-size: xx-large;
    font-kerning: normal;
    font-weight: bold;
    margin: 0;
    padding: 5px;
  }

  .card__image {
    padding: 20px;
    width: 40%;
    height: 150px;
    min-height: 60px;
  }
}
