@import "../../constants.scss";

.card {
  margin-bottom: 2rem;
  position: relative;
  width: 80%;
  background-color: $primary;
  color: $text-color-light;
  display: flex;
  flex-direction: column;
  align-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .card__title {
    font-size: xx-large;
    font-kerning: normal;
    font-weight: bold;
    padding: 1rem;
  }

  .card__image {
    width: 100%;
    height: auto;
    min-height: 60px;
  }
}
