@import "../../constants.scss";

.card {
  margin: 0 auto;
  position: relative;
  width: 90%;
  max-width: 600px;
  background-color: $primary-light;
  color: $text-color;
  display: flex;
  flex-direction: column;
  align-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .card__title {
    background-color: $primary;
    color: $text-color-light;
    text-align: center;
    font-size: xx-large;
    font-kerning: normal;
    font-weight: bold;
    margin: 0;
    padding: 5px;
  }

  .card__image {
    width: 100%;
    height: auto;
    min-height: 350px;
    max-height: 350px;
  }
}
