@import "../../constants.scss";

body {
  align-items: center;
  text-align: center;
}

.form {
  max-width: 360px;
  margin: auto;
  background-color: $primary-light;
  padding: 10px;
  border: 2px solid $primary-dark;
  border-radius: 15px;
  margin-top: 30px;
}

.form_field--row {
  display: flex;
  justify-content: space-between;
}

.form_field--label {
  font-size: 20px;
}

.form_field--input {
  width: 60%;
  padding: 5px;
}

.form_button {
  text-align: center;
  input {
    background-color: $primary-dark;
    color: $white;
    font-size: 20px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
  }
}

.message {
  min-height: 16px;
  clear: left;
  font-size: 12px;
  color: red;
  margin: 2px;
  padding-left: 50px;
}
