@import "../../constants.scss";

.create-user-form__heading {
  text-align: center;
}

.create-user-form__field {
  min-height: 55px;
  width: 300px;

  label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  input {
    width: 60%;
    padding: 5px;
  }

  p {
    text-align: right;
    font-size: 12px;
    color: red;
    margin: 10px;
  }
}

.create-user-form__add-user-message {
  margin: 5px;
  text-align: center;
}

.create-user-form__button {
  text-align: center;
  input {
    background-color: $primary-dark;
    color: $white;
    font-size: 20px;
    border: none;
    padding: 10px;
    border-radius: 5px;
  }
}
